<?xml version="1.0"?>
<config>
    <modules>
        <SentientMatter_SimpleCron>
            <version>1.1.3</version>
        </SentientMatter_SimpleCron>
    </modules>    
    <frontend>
        <routers>
            <qrcodes>
                <use>standard</use>
                <args>
                    <module>SentientMatter_SimpleCron</module>
                    <frontName>simplecron</frontName>
                </args>
            </qrcodes>
        </routers>  
        <layout>
            <updates>
                <simplecron>
                    <file>simplecron.xml</file>
                </simplecron>
            </updates>
        </layout>
    </frontend>
    <default>
    	<system>
    		<cron>
    			<simplecron_interval>15</simplecron_interval>
    		</cron>
    	</system>
    </default>
    <global>
	    <events>
	      	<controller_action_layout_render_before>
		        <observers>
		          	<sentientmatter_simplecron_controller_action_predispatch_observer>
			            <type>singleton</type>
			            <class>SentientMatter_SimpleCron_Model_Dispatch_Observer</class>
			            <method>injectJs</method>
		          	</sentientmatter_simplecron_controller_action_predispatch_observer>
		        </observers>
	      	</controller_action_layout_render_before>     
	    </events>
    </global>
</config>